<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src ="<%= photo.image %>">
                <div class="caption-full">
                    
                    <h4><a><%=photo.title%></a></h4>
                    <p>Camera: <%= photo.camera %><br> F-stop: <%= photo.fStop %><br> Exposure Time: <%= photo.exposure %><br> ISO Speed: <%= photo.isoSpeed %></p>
                    <% if (currentUser && currentUser.isAdmin == true) { %>
                        <div>
                            <a class="btn btn-warning" href="/photos/<%= photo._id %>/edit">Edit Photo Information</a>
                            <form class="delete-form" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="Remove Photo">
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <% if ((currentUser && currentUser.isAdmin == true) || (currentUser && currentUser.isAdmin == false)) { %>
                    <div class"text-right">
                        <a class="btn btn-success" href="/photos/<%= photo._id %>/comments/new">Add New Comment</a>
                    </div>
                <% } %>
                <% if (!currentUser) { %>
                    <div class"text-right">
                        <a class="btn btn-success" href="/login">Login required to leave comment</a>
                    </div>
                <% } %>
                <hr>
                <% photo.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= comment.created %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if ((currentUser && currentUser.isAdmin == true) || (currentUser && blog.author.id.equals(currentUser._id))) { %>
                                <a class="btn btn-xs btn-warning" href="/photos/<%=photo._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form class="delete-form" action="/photos/<%=photo._id%>/comments/<%=comment._id%>?_method=DELETE"method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>